/* shared Styles */
* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", system-ui;
}

.primary-btn {
  font-size: 1.2rem;
  color: #fff;
  background: #ff900e;
  border: none;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  font-weight: 600;
}

.gray-txt {
  color: #727272;
}

.dark-txt {
  color: #131313;
}

.orange-txt {
  color: #ff900e;
}

/* header styles */
header {
  background: #ff900e1a;
  padding: 2rem 10rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 2.5rem;
  font-weight: 700;
}
nav > ul {
  display: flex;
  gap: 2rem;
}

nav li {
  list-style: none;
}

nav a {
  text-decoration: none;
  color: #424242;
  font-weight: 500;
  font-size: 1rem;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 55rem;
  gap: 1.5rem;
  padding: 3rem 0;
}

.banner-title {
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
}
.banner-description {
  text-align: center;
}

.banner img {
  width: 100%;
}

/* main section styles */
main {
  padding: 2rem 10rem;
}

/* team section style */
.team-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 5rem;
}

.team-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.team-img-container img {
  width: 100%;
}

.team-content h1 {
  font-size: 2.8rem;
}

.team-content p {
  padding: 1rem 0;
  font-size: 1rem;
}

/* media query for mobile  */
@media (max-width: 576px) {
  header,
  main {
    padding: 0.5rem 1rem;
    /* background: green; */
  }

  nav {
    flex-direction: column;
  }
  .banner-title {
    font-size: 2rem;
  }

  .team-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
  }

  .team-content h1 {
    font-size: 2rem;
  }
}

/* media query for medium Devices */

@media (min-width: 577px) and (max-width: 992px) {
  header,
  main {
    /* background: red; */
    padding: 1rem 2rem;
  }

  nav {
    flex-direction: column;
  }

  .banner-title {
    font-size: 3rem;
  }

  .team-section {
    grid-template-columns: repeat(1, 1fr);
  }

  .team-content h1 {
    font-size: 2.5rem;
  }
}
